
ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 8px;
}
ul{
    display: flex;
    justify-content:center;
    gap:300px;
}
li{
    list-style: none;
    
}
#nav-bar{
    background-color:#660066;
    border: 3px solid #990099;
    border-radius: 20px;
    transition: 0.5s;
}

#nav-bar:hover{
    background-color:#330033;
}
ul li a:hover{
    color:#A0A0A0;
}

.paragraph{
    background-color:#FFCCFF;
    padding: 20px;
    border-radius: 8px;
    margin: 5px;
    color:#330000;
}

#images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
#images img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
a{
    margin-left:20px;
    font-size: 25px;
}

h1{
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}
h3{
    margin-left: 20px;
    margin-bottom: 2px;
}


#input{
    background-color: #ED3192;
    width:300px;
    padding: 20px;
    margin:10px;
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 10px #990099;

}
.form{
    border-radius: 10px;
}
label{
    margin-left:5px;
}
.login-tex{
    margin-left: 20px;
}
#button{
    margin-top: 10px;
}

#button{
    border-radius: 5px;
    margin-left: 3px;
    background-color: #E8E8FD;
}
#anchor-button{
    margin:300px;
}